:root {
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --other-row-color: #757575;
  --background: #2f303a;
  --icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: roboto, sans-serif;
  color: var(--main-text-color);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 15px;
  } 
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 15px;
  }    
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }    
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.btn {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2196f3;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--main-text-color);
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
  }
  
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-open {
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}


.mob-menu {
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
  .mob-menu {
    display: none;
  }
}

.mob-container {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .mob-container {
    max-width: 480px;
  }
}
.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}
.menu-close:hover,
.menu-close:focus {
  cursor: pointer;
}
.menu-close-icon:hover,
.menu-close-icon:focus {
  fill: #2196f3;
}
.mob-menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mob-menu__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17px;
    letter-spacing: 0.02em;

    color: #212121;
}
.mob-menu__link:hover,
.mob-menu__link:focus {
  cursor: pointer;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mob-menu__link {
    font-size: 40px;
    line-height: 47px;
  }
}
.mob-menu__connects-tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  display: block;

  color: #2196F3;
}
@media screen and (min-width: 480px) {
  .mob-menu__connects-tel {
    font-size: 34px;
    line-height: 40px;
  }
}
.mob-menu__connects-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #757575;
  display: block;
}
@media screen and (min-width: 480px) {
  .mob-menu__connects-link {
    font-size: 24px;
    line-height: 28px;
  }
}
.mob-menu__soc-list {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 9px;
  margin-top: 64px;
}
.mob-menu__soc-line {
    content: '';
    width: 1px;
    height: 23px;
    background: #D9D9D9;
    margin-left: 10px;
    border: 1px solid #D9D9D9;
}
.mob-menu__soc-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;

  color: #2196F3;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .header {
    display: block;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
  color: var(--black-color);
}

.web {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  height: 100%;
  padding-bottom: 32px;
  color: #2196f3;
}

.current::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  display: block;
  left: 0;
  bottom: 0;
  background: #2196f3;
  border-radius: 2px;
  margin-bottom: 0.5px;
}
@media screen and (max-width: 1199px) {
  .current::after {
    margin-bottom: -7px;
  }
}

.connects-list {
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .connects-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .connects-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .connects-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}


.connects-item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .connects-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.connects-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--other-row-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .connects-item {
    display: block;
  }
}

.connects-link:hover,
.connects-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--background);
  max-width: 1600px;
  margin: 0 auto;
  background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/bg/header-img-mobile.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: 
        linear-gradient(#2f303a66, #2f303a66),
        url(../images/bg/header-img-mobile-2x.jpg);
    }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: 
      linear-gradient(#2f303a66, #2f303a66),
      url(../images/bg/header-img-tablet.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: 
        linear-gradient(#2f303a66, #2f303a66),
        url(../images/bg/header-img-tablet-2x.jpg);
    }
  } 
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: 
      linear-gradient(#2f303a66, #2f303a66),
      url(../images/bg/img.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: 
        linear-gradient(#2f303a66, #2f303a66),
        url(../images/bg/img-2x.jpg);
    }
  } 
}


.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
  
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  color: #ffffff;
  transition: background-color 250ms linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  color: #2196f3;
  background-color: #fff;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 30px;
}

.feature-item {
  flex: 0 1 100%;
}
@media screen and (min-width: 768px) {
    .feature-item {
      flex-basis: calc((100% - 60px) / 2);
    }
  }
@media screen and (min-width: 1200px) {
    .feature-item {
      flex-basis: calc((100% - 90px) / 4);
    }
}
.feature-icon {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--main-text-color);
  text-align: center;
  @media screen and (min-width: 480px) {
    
  }
}
@media screen and (min-width: 768px) {
   .feature-title {
    text-align: start;
   }
  }

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--other-row-color);
}

.work {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.work-item {
  position: relative;
}

.work-item-sub-img {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.7921568627);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}


.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--main-text-color);
}

.team-after-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--other-row-color);
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item:not(:last-child) {
  margin-right: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: background-color 300ms linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.clients-title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.clients-item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients-link {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
  transition: border 0.3s linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 0.3s linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer {
  background-color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
    
  }
}

.studio-links {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .studio-links {
    flex-grow: 1;
    /* justify-content: center; */
    text-align: start;
  }
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.location {
  color: var(--white-color);
}

.soc-network {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .soc-network {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .soc-network {
    margin-left: 70px;
    text-align: start;
}
}
.soc-network-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}

.soc-network-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-network-item:not(:last-child) {
  margin-right: 10px;
}

.soc-network-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
  transition: background-color 300ms linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-network-link:hover,
.soc-network-link:focus {
  background-color: var(--accent-color);
  color: #fff;
}

.mailing {
  max-width: 450px;
  display: block;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .mailing {
    /* width: 100%; */
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .mailing {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing {
    margin-left: 93px;
    text-align: start;
    max-width: 570px;
  }
 
}

.mailing-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
   .mailing-form {
    width: 570px;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
}

.mailing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.mailing-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  display: block;
  height: 50px;
  background-color: transparent;
  padding: 15px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}
@media screen and (min-width: 768px) {
  .mailing-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-input {
    width: 358px;
    margin-right: 12px;
  }
}

.mailing-input:hover,
.mailing-input:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.mailing-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 300ms linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .mailing-btn {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-btn {
    margin: 0;
  }
  
}

.mailing-btn:hover,
.mailing-btn:focus {
  cursor: pointer;
  color: var(--accent-color);
  background-color: #fff;
}

.mailing-icon {
  margin-left: 10px;
  fill: currentColor;
}

.filtr-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
@media screen and (max-width: 767px) {
  .filtr-list {
    justify-content: start;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .filtr-list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filtr-list {
    margin-bottom: 50px;
  }
}
.filtr-item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .filtr-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.filtr-btn {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  transition: box-shadow 500ms ease-in, background-color 300ms linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 500ms ease-out, background-color 300ms linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-btn:hover,
.filtr-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: var(--accent-color);
  color: var(--white-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .projects-list {
    justify-content: start;
  }
}
.projects-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .projects-item {
  
  flex-basis: calc((100% - 60px) / 2);
  /* background-color: green; */
}
}
@media screen and (min-width: 1200px) {
  .projects-item {
    flex-basis: 370px;
  }
}

.projects-link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  flex-basis: calc((100% - 60px) / 2);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}



.projects-link:hover .projects-top-wrap-text,
.projects-link:focus .projects-top-wrap-text {
  transform: translateY(0%);
}

.projects-top-wrap {
  position: relative;
  overflow: hidden;
}

.projects-top-wrap-text {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  height: 100%;
  color: #fff;
  background-color: rgba(33, 149, 243, 0.7882352941);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-text {
  padding: 20px 24px;
}

.border {
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.projects-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--other-row-color);
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.2470588235);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 100%;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear, transform 300ms linear;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-btn {
  border: 1px solid #fff;
  background-color: #fff;
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-close-icon {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-close-icon {
  cursor: pointer;
  fill: #2196f3;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.modal-label {
  margin-bottom: 10px;
  display: block;
}

.modal-label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  display: block;
  color: #757575;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 36px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon {
  fill: #2196f3;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  width: 100%;
  height: 120px;
  display: block;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-text:hover,
.modal-text:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.modal-submit-btn {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  border: none;
  margin: 0 auto;
  background: #2196f3;
  color: #ffffff;
  transition: background-color 300ms linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms linear, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  cursor: pointer;
  color: #2196f3;
  background-color: #fff;
}

.modal-check-box {
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
}

.check-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-box-btn {
  margin-right: 7px;
}

.check-box-text {
  color: #757575;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .check-box-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-box-link {
  text-decoration-line: underline;
  display: block;
  padding-left: 5px;
  color: #2196f3;
}

.check-box-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  transition: border 300ms linear, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 300ms linear, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box-btn:checked + .check-box-text::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../svg/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=main.css.map */