:root {
    --main-text-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --black-color: #000000;
    --other-row-color: #757575;
    --background: #2f303a;
    --icon-color: #afb1b8;
}